# Byte-compiled / optimized files.
__pycache__/
*.py[cod]

# Virtual environment as a directory or symlink.
virtualenv/
virtualenv

# Spyder project file.
.spyproject

# Generated CSV files.
waterCrisis/*/var/*.csv
waterCrisis/*/var/.~lock*.csv#

# Fetched HTML files.
waterCrisis/properties/var/unprocessed_html/*.html
